{% extends '::base.html.twig' %}

{% block body -%}
    <div class="container">

        <h1>Project edit</h1>
        {{ form(edit_form) }}

        <div class="row">
            {{ form(delete_form) }}
        </div>

        <br/><br/>
        <a class="btn btn-default" href="{{ path('project') }}">
            Back to the list
        </a>
    </div>


{% endblock %}
