<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="{{ asset("img/logo.png") }}">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" ng-show="selected">
                <li ng-class="{ active: server.qualif.show}" ng-click="showServer(server.qualif)">
                    <a href="#">
                        {% trans %}rsv3.server.qualif{% endtrans %}<span class="sr-only">(current)</span>
                    </a>
                </li>
                <li ng-class="{ active: server.preprod.show}"><a href="#" ng-click="showServer(server.preprod)">{% trans %}rsv3.server.preprod{% endtrans %}</a></li>
                <li ng-class="{ prod : server.prod.show}"><a href="#" ng-click="showServer(server.prod)">{% trans %}rsv3.server.prod{% endtrans %}</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>