{{ include('RsvDeployBundle:Default:update.html.twig' , {'currentServer': 'currentProd', 'currentActive' : 'activ-prod', 'currentUpdate' : 'update-prod'}) }}

<div class="row">
    <div class="col-md-12 title">{% trans %}rsv3.deploy.tag{% endtrans %}</div>

    <div class="col-md-8 col-md-offset-2 title no-margin-bottom text-right">{% trans %}rsv3.deploy.changeTag{% endtrans %}</div>
    <form id="new-tag-form" action="" class="forms forms-inline col-md-8 col-md-offset-2">
        <div class="row">
            <select class="select-branch col-sm-8 control">
                <option ng-repeat="tag in tagList" value="[[tag]]">[[tag]]</option>
            </select>
            <button class="btn-info col-sm-4 control" id="">{% trans %}rsv3.deploy.activate{% endtrans %}</button>
        </div>
    </form>

    <div class="col-md-8 col-md-offset-2 title no-margin-bottom text-right">{% trans %}rsv3.deploy.newTag{% endtrans %}</div>
    <form id="new-tag-form" action="" class="forms forms-inline col-md-8 col-md-offset-2">
        <div class="row">
            <label for="input-tag-g" class="col-sm-3">{% trans %}rsv3.deploy.tagLabel{% endtrans %}</label>
            <input type="text" class="col-sm-2 control" id="input-tag-g" value="" placeholder="G" required="required">
            <input type="text" class="col-sm-2 control" id="input-tag-r" value="" placeholder="R" required="required">
            <input type="text" class="col-sm-2 control" id="input-tag-c" value="" placeholder="C" required="required">
            <button class="btn-info col-sm-3 control" id="new-tag">{% trans %}rsv3.deploy.validate{% endtrans %}</button>
        </div>
    </form>
</div>
