{{ include('RsvDeployBundle:Default:update.html.twig') }}

<div class="row">

    <div class="col-md-12 title">
        {% trans %}rsv3.deploy.tag{% endtrans %}
        <span ng-bind="current.tag" class="pull-right branchName"></span>
    </div>
    <div class="col-md-12">
        <form id="tag-change-form" action="" class="forms forms-inline">
            <div>
                <select class="select-branch col-sm-9 control" ng-model="tag">
                    <option ng-repeat="tag in tagList" value="[[tag]]">[[tag]]</option>
                </select>
                <div class="col-sm-3">
                    <button class="btn btn-default" ng-click="changeSource(false)">{% trans %}rsv3.deploy.activate{% endtrans %}</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-sm-12">
        <form id="new-tag-form" action="" class="forms forms-inline">
            <div class="row">
                <div class="col-sm-12">
                    <label ng-bind="tag.name"></label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-sm btn-default" ng-click="tagTargetType('g')">{% trans %}rsv3.tag.g{% endtrans %}</button>
                        <button type="button" class="btn btn-sm btn-default" ng-click="tagTargetType('r')">{% trans %}rsv3.tag.r{% endtrans %}</button>
                        <button type="button" class="btn btn-sm btn-default" ng-click="tagTargetType('c')">{% trans %}rsv3.tag.c{% endtrans %}</button>
                        <button type="button" class="btn btn-sm btn-default" ng-click="tagTargetType('x')">{% trans %}rsv3.tag.reset{% endtrans %}</button>
                    </div>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-default" id="new-tag" ng-click="newTag()" ng-show="newTagOk">{% trans %}rsv3.deploy.validate{% endtrans %}</button>
                </div>
            </div>
        </form>
    </div>

</div>


