<!-- PREPROD -->
<h2>
    <span class="right">
        <span id="{{ currentServer }}"></span>
    </span>
</h2>

<div class="row line">
    <div class="col-md-12 title">
        {% trans %}rsv3.deploy.update{% endtrans %}
        <span ng-bind="current" class="pull-right branchName"></span>
    </div>
    <form class="col-xs-12">
        <button class="col-xs-12 btn btn-success" ng-click="updateMe()" id="{{ currentUpdate }}">{% trans %}rsv3.deploy.update{% endtrans %}</button>
    </form>
</div>

<div class="row line">
    <div class="col-md-12 title">{% trans %}rsv3.deploy.changeBranch{% endtrans %}</div>
    <form action="" class="forms forms-inline col-md-8 col-lg-12" disabled="disabled">
        <select class="select-branch col-sm-8 control" ng-model="target">
            <option ng-repeat="branch in branchList" value="[[branch | trim]]">[[branch]]</option>
        </select>
        <button class="btn-info col-sm-4 control"
                id="{{ currentActive }}"
                ng-click="changeSource(true)"
                ng-show="target != current"
                >
            {% trans %}rsv3.deploy.activate{% endtrans %}
        </button>
    </form>
</div>